body{
	background-color: white;
}

h1 {
	color: black;
}

p{	
	border: 1px ;
	background-color:#FFFF82;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 20px;

}